dist: trusty

language: node_js
node_js:
  - lts/*
  - stable

addons:
  chrome: stable
  firefox: latest

cache:
  yarn: true
  directories:
    - ./node_modules

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s
  - export PATH=$HOME/.yarn/bin:$PATH
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &

install:
  - yarn

script:
  - yarn run test-headless

deploy:
  provider: script
  skip_cleanup: true
  script:
    - npm run publish-semantic-release
  on:
    all_branches: true

branches:
  only:
    - main
    - next
    - /^v.*$/
